@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes glow {
    to {
        box-shadow: 0 0 5px 2px green;
    }
}

body {
    margin: 0;
    background-color: rgb(35, 39, 65);
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    height: 100vh;
    position: relative;
}

.product {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.product::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 1;
}

.product-info {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: calc(10px + 0.3vw);
    z-index: 2;
}

.product-price {
    position: absolute;
    bottom: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    z-index: 2;
}

.btn {
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#guessHigherBtn {
    background-color: #007BFF;
}

#guessHigherBtn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

#guessHigherBtn:active {
    transform: scale(0.96);
}

#guessLowerBtn {
    background-color: #FFA500;
}

#guessLowerBtn:hover {
    background-color: #cc8400;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

#guessLowerBtn:active {
    transform: scale(0.96);
}

#playAgainButton {
    background-color: rgba(8, 84, 166, 0.85);
}

#playAgainButton:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

#playAgainButton:active {
    transform: scale(0.96);
}

.splash-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(0);
    transition: transform 0.5s ease;
    color: white;
    z-index: 2;
}

.splash-screen.hide {
    transform: translateY(-100%);
}

#playButton {
    padding: 15px 30px;
    position: relative;
    font-size: 20px;
    border: none;
    background-color: #fff;
    color: #1e3c72;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    animation: bounce 1s infinite;
}

#playButton:hover {
    background-color: #f4f4f4;
}

.score-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

.score, .high-score {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.control-container {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.fas.fa-check-circle, .fas.fa-times-circle {
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s;
}

.correct {
    color: green;
    animation: fadeInOut 1s forwards;
}

.wrong {
    color: red;
    animation: fadeInOut 1s forwards;
}

.success-animation {
    box-shadow: 0 0 15px 5px green;
    animation: glow 1s infinite alternate;
}

.fail-animation {
    box-shadow: 0 0 15px 5px red;
    animation: glow 1s infinite alternate;
}

.icon {
    width: 50px;
    height: 50px;
    display: none;
}

.feedback-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#wrongGuessSplash {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.40);
    color: white;
}

.message {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 80%;
    text-align: center;
    bottom: 10px;
    position: relative;
}

.high-score-display {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 80%;
    text-align: center;
}

.divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.line {
    flex: 1;
    width: 2px;
    background-color: white;
    margin: 10px 0;
}

.divider span {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
